In [12]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("Resources/budget_data.csv")
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [6]:
df.shape

(86, 2)

Calculate the total number of months included in the dataset

In [7]:
Total_months = len(df['Date'].unique())
Total_months

86

Calculate the net total amount of Profit/Losses over the entire period

In [9]:
total = sum(df['Profit/Losses'])
total

38382578

Calculate the average of the changes in Profit/Losses over the entire period

In [38]:
df.Date

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [42]:
df_sorted["Date"]= pd.to_datetime(df.Date, format='%b-%Y')
df_sorted.sort_values("Date", inplace=True)

In [43]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     datetime64[ns]
 1   Profit/Losses  86 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.0 KB

In [44]:
# sorte the data frame ascending by date 

df_sorted

         Date  Profit/Losses
0  2010-01-01         867884
1  2010-02-01         984655
2  2010-03-01         322013
3  2010-04-01         -69417
4  2010-05-01         310503
..        ...            ...
81 2016-10-01         102685
82 2016-11-01         795914
83 2016-12-01          60988
84 2017-01-01         138230
85 2017-02-01         671099

[86 rows x 2 columns]

In [45]:
df_change = df_sorted.set_index('Date').diff()
df_change

            Profit/Losses
Date
2010-01-01            NaN
2010-02-01       116771.0
2010-03-01      -662642.0
2010-04-01      -391430.0
2010-05-01       379920.0
...                   ...
2016-10-01      -665765.0
2016-11-01       693229.0
2016-12-01      -734926.0
2017-01-01        77242.0
2017-02-01       532869.0

[86 rows x 1 columns]

In [46]:
mean_change = np.average(df_change['Profit/Losses'][1:])
mean_change = round(mean_change,2)
mean_change

-2315.12