In [12]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("Resources/budget_data.csv")
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [6]:
df.shape

(86, 2)

Calculate the total number of months included in the dataset

In [7]:
Total_months = len(df['Date'].unique())
Total_months

86

Calculate the net total amount of Profit/Losses over the entire period

In [9]:
total = sum(df['Profit/Losses'])
total

38382578

Calculate the average of the changes in Profit/Losses over the entire period

In [38]:
df.Date

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [42]:
df_sorted["Date"]= pd.to_datetime(df.Date, format='%b-%Y')
df_sorted.sort_values("Date", inplace=True)

In [43]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     datetime64[ns]
 1   Profit/Losses  86 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.0 KB

In [44]:
# sorte the data frame ascending by date 

df_sorted

         Date  Profit/Losses
0  2010-01-01         867884
1  2010-02-01         984655
2  2010-03-01         322013
3  2010-04-01         -69417
4  2010-05-01         310503
..        ...            ...
81 2016-10-01         102685
82 2016-11-01         795914
83 2016-12-01          60988
84 2017-01-01         138230
85 2017-02-01         671099

[86 rows x 2 columns]

In [45]:
df_change = df_sorted.set_index('Date').diff()
df_change

            Profit/Losses
Date
2010-01-01            NaN
2010-02-01       116771.0
2010-03-01      -662642.0
2010-04-01      -391430.0
2010-05-01       379920.0
...                   ...
2016-10-01      -665765.0
2016-11-01       693229.0
2016-12-01      -734926.0
2017-01-01        77242.0
2017-02-01       532869.0

[86 rows x 1 columns]

In [46]:
mean_change = np.average(df_change['Profit/Losses'][1:])
mean_change = round(mean_change,2)
mean_change

-2315.12

Greatest Increase in Profits

In [60]:
max_increase = np.max(df_change['Profit/Losses'])
max_increase = round(max_increase)
max_increase

1926159

Greatest Decrease in Profits

In [59]:
great_decrease = round(np.min(df_change['Profit/Losses']))
great_decrease

-2196167

# Solution 2:

In [35]:
import csv
from pathlib import Path
import datetime

In [2]:
budget_path = Path("./Resources/budget_data.csv")

In [27]:
# convert string to a date in Python
def to_datetime_format(date_str):
    date_time_obj = datetime.datetime.strptime(date_str, '%b-%Y')
    return date_time_obj.date()

In [49]:
# initiate a dictionary for budget data
budget_dct = {}
with open(budget_path,"r") as f:
    f_reader = csv.DictReader(f,delimiter=",")
    for row in f_reader:
        #print(to_datetime_format(row['Date']),row['Profit/Losses'])   
        budget_dct[to_datetime_format(row['Date'])] = int(row['Profit/Losses'])   # convert strings to date format and integer format separately

In [50]:
print(budget_dct)

{datetime.date(2010, 1, 1): 867884, datetime.date(2010, 2, 1): 984655, datetime.date(2010, 3, 1): 322013, datetime.date(2010, 4, 1): -69417, datetime.date(2010, 5, 1): 310503, datetime.date(2010, 6, 1): 522857, datetime.date(2010, 7, 1): 1033096, datetime.date(2010, 8, 1): 604885, datetime.date(2010, 9, 1): -216386, datetime.date(2010, 10, 1): 477532, datetime.date(2010, 11, 1): 893810, datetime.date(2010, 12, 1): -80353, datetime.date(2011, 1, 1): 779806, datetime.date(2011, 2, 1): -335203, datetime.date(2011, 3, 1): 697845, datetime.date(2011, 4, 1): 793163, datetime.date(2011, 5, 1): 485070, datetime.date(2011, 6, 1): 584122, datetime.date(2011, 7, 1): 62729, datetime.date(2011, 8, 1): 668179, datetime.date(2011, 9, 1): 899906, datetime.date(2011, 10, 1): 834719, datetime.date(2011, 11, 1): 132003, datetime.date(2011, 12, 1): 309978, datetime.date(2012, 1, 1): -755566, datetime.date(2012, 2, 1): 1170593, datetime.date(2012, 3, 1): 252788, datetime.date(2012, 4, 1): 1151518, datetime.date(2012, 5, 1): 817256, datetime.date(2012, 6, 1): 570757, datetime.date(2012, 7, 1): 506702, datetime.date(2012, 8, 1): -1022534, datetime.date(2012, 9, 1): 475062, datetime.date(2012, 10, 1): 779976, datetime.date(2012, 11, 1): 144175, datetime.date(2012, 12, 1): 542494, datetime.date(2013, 1, 1): 359333, datetime.date(2013, 2, 1): 321469, datetime.date(2013, 3, 1): 67780, datetime.date(2013, 4, 1): 471435, datetime.date(2013, 5, 1): 565603, datetime.date(2013, 6, 1): 872480, datetime.date(2013, 7, 1): 789480, datetime.date(2013, 8, 1): 999942, datetime.date(2013, 9, 1): -1196225, datetime.date(2013, 10, 1): 268997, datetime.date(2013, 11, 1): -687986, datetime.date(2013, 12, 1): 1150461, datetime.date(2014, 1, 1): 682458, datetime.date(2014, 2, 1): 617856, datetime.date(2014, 3, 1): 824098, datetime.date(2014, 4, 1): 581943, datetime.date(2014, 5, 1): 132864, datetime.date(2014, 6, 1): 448062, datetime.date(2014, 7, 1): 689161, datetime.date(2014, 8, 1): 800701, datetime.date(2014, 9, 1): 1166643, datetime.date(2014, 10, 1): 947333, datetime.date(2014, 11, 1): 578668, datetime.date(2014, 12, 1): 988505, datetime.date(2015, 1, 1): 1139715, datetime.date(2015, 2, 1): 1029471, datetime.date(2015, 3, 1): 687533, datetime.date(2015, 4, 1): -524626, datetime.date(2015, 5, 1): 158620, datetime.date(2015, 6, 1): 87795, datetime.date(2015, 7, 1): 423389, datetime.date(2015, 8, 1): 840723, datetime.date(2015, 9, 1): 568529, datetime.date(2015, 10, 1): 332067, datetime.date(2015, 11, 1): 989499, datetime.date(2015, 12, 1): 778237, datetime.date(2016, 1, 1): 650000, datetime.date(2016, 2, 1): -1100387, datetime.date(2016, 3, 1): -174946, datetime.date(2016, 4, 1): 757143, datetime.date(2016, 5, 1): 445709, datetime.date(2016, 6, 1): 712961, datetime.date(2016, 7, 1): -1163797, datetime.date(2016, 8, 1): 569899, datetime.date(2016, 9, 1): 768450, datetime.date(2016, 10, 1): 102685, datetime.date(2016, 11, 1): 795914, datetime.date(2016, 12, 1): 60988, datetime.date(2017, 1, 1): 138230, datetime.date(2017, 2, 1): 671099}

In [51]:
# sort dictionary by key
budget_sorted = dict(sorted(budget_dct.items(), key = lambda item: item[0]))
print(budget_sorted)

{datetime.date(2010, 1, 1): 867884, datetime.date(2010, 2, 1): 984655, datetime.date(2010, 3, 1): 322013, datetime.date(2010, 4, 1): -69417, datetime.date(2010, 5, 1): 310503, datetime.date(2010, 6, 1): 522857, datetime.date(2010, 7, 1): 1033096, datetime.date(2010, 8, 1): 604885, datetime.date(2010, 9, 1): -216386, datetime.date(2010, 10, 1): 477532, datetime.date(2010, 11, 1): 893810, datetime.date(2010, 12, 1): -80353, datetime.date(2011, 1, 1): 779806, datetime.date(2011, 2, 1): -335203, datetime.date(2011, 3, 1): 697845, datetime.date(2011, 4, 1): 793163, datetime.date(2011, 5, 1): 485070, datetime.date(2011, 6, 1): 584122, datetime.date(2011, 7, 1): 62729, datetime.date(2011, 8, 1): 668179, datetime.date(2011, 9, 1): 899906, datetime.date(2011, 10, 1): 834719, datetime.date(2011, 11, 1): 132003, datetime.date(2011, 12, 1): 309978, datetime.date(2012, 1, 1): -755566, datetime.date(2012, 2, 1): 1170593, datetime.date(2012, 3, 1): 252788, datetime.date(2012, 4, 1): 1151518, datetime.date(2012, 5, 1): 817256, datetime.date(2012, 6, 1): 570757, datetime.date(2012, 7, 1): 506702, datetime.date(2012, 8, 1): -1022534, datetime.date(2012, 9, 1): 475062, datetime.date(2012, 10, 1): 779976, datetime.date(2012, 11, 1): 144175, datetime.date(2012, 12, 1): 542494, datetime.date(2013, 1, 1): 359333, datetime.date(2013, 2, 1): 321469, datetime.date(2013, 3, 1): 67780, datetime.date(2013, 4, 1): 471435, datetime.date(2013, 5, 1): 565603, datetime.date(2013, 6, 1): 872480, datetime.date(2013, 7, 1): 789480, datetime.date(2013, 8, 1): 999942, datetime.date(2013, 9, 1): -1196225, datetime.date(2013, 10, 1): 268997, datetime.date(2013, 11, 1): -687986, datetime.date(2013, 12, 1): 1150461, datetime.date(2014, 1, 1): 682458, datetime.date(2014, 2, 1): 617856, datetime.date(2014, 3, 1): 824098, datetime.date(2014, 4, 1): 581943, datetime.date(2014, 5, 1): 132864, datetime.date(2014, 6, 1): 448062, datetime.date(2014, 7, 1): 689161, datetime.date(2014, 8, 1): 800701, datetime.date(2014, 9, 1): 1166643, datetime.date(2014, 10, 1): 947333, datetime.date(2014, 11, 1): 578668, datetime.date(2014, 12, 1): 988505, datetime.date(2015, 1, 1): 1139715, datetime.date(2015, 2, 1): 1029471, datetime.date(2015, 3, 1): 687533, datetime.date(2015, 4, 1): -524626, datetime.date(2015, 5, 1): 158620, datetime.date(2015, 6, 1): 87795, datetime.date(2015, 7, 1): 423389, datetime.date(2015, 8, 1): 840723, datetime.date(2015, 9, 1): 568529, datetime.date(2015, 10, 1): 332067, datetime.date(2015, 11, 1): 989499, datetime.date(2015, 12, 1): 778237, datetime.date(2016, 1, 1): 650000, datetime.date(2016, 2, 1): -1100387, datetime.date(2016, 3, 1): -174946, datetime.date(2016, 4, 1): 757143, datetime.date(2016, 5, 1): 445709, datetime.date(2016, 6, 1): 712961, datetime.date(2016, 7, 1): -1163797, datetime.date(2016, 8, 1): 569899, datetime.date(2016, 9, 1): 768450, datetime.date(2016, 10, 1): 102685, datetime.date(2016, 11, 1): 795914, datetime.date(2016, 12, 1): 60988, datetime.date(2017, 1, 1): 138230, datetime.date(2017, 2, 1): 671099}

In [52]:
#Total Months:
len(budget_sorted)

86

In [53]:
# Total
sum(budget_sorted.values())

38382578

In [61]:
previous = list(budget_sorted.values())[:-1]
current = list(budget_sorted.values())[1:]
change = [y-x for y, x in zip(current, previous)]
print(change)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [64]:
#  Average  Change:
round(sum(change)/len(change),2)

-2315.12

In [66]:
#Greatest Increase in Profits:
max(change)

1926159

In [78]:
# get date
index = change.index(max(change))
index

24

In [83]:
date_time = list(budget_sorted.keys())[index + 1]
date_time

datetime.date(2012, 2, 1)

In [ ]:
date_string = date_time

In [86]:
date_time.strftime('%b') + '-' + date_time.strftime('%Y')

'Feb-2012'

In [87]:
def date_to_string(date_time):
    return date_time.strftime('%b') + '-' + date_time.strftime('%Y')

In [67]:
#Greatest Decrease in Profits
min(change)

-2196167

In [102]:
def print_write_result(result,output_file):
    with open(output_file,'a') as f:
        f.write(result + "\n \n")
        print(result)

In [103]:
output_file = Path("./budget_report.txt")

header = "Financial Analysis \n \n---------------------------- \n"
print_write_result(header,output_file)

month_num = f"Total Months: {len(budget_sorted)}"
print_write_result(month_num,output_file)


total = f"Total: ${sum(budget_sorted.values())}"
print_write_result(total,output_file)

mean_change = f"Average  Change: ${round(sum(change)/len(change),2)}"
print_write_result(mean_change,output_file)


increase = max(change)
index = change.index(increase)
date_time = list(budget_sorted.keys())[index + 1]
str_date_time = date_to_string(date_time)
increase_text = f"Greatest Increase in Profits: {str_date_time} (${increase})"
print_write_result(increase_text,output_file)


decrease = min(change)
index = change.index(decrease)
date_time = list(budget_sorted.keys())[index + 1]
str_date_time = date_to_string(datet_ime)
decrease_text = f"Greatest Decrease in Profits: {str_date_time} (${decrease})"
print_write_result(decrease_text,output_file)

Financial Analysis

----------------------------

Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [76]:
result

'Total Months: 86'

with open(budget_path,"r") as f:
    f_reader = csv.DictReader(f,delimiter=",")
    for dct in map(dict, f_reader):
        print(dct)

In [94]:
print("Financial Analysis \n \n---------------------------- \n")

Financial Analysis

----------------------------